* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  padding: 10px 160px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 767px) {
  nav {
    padding: 10px 70px;
  }
}
@media (max-width: 375px) {
  nav {
    padding: 10px 30px;
  }
}
nav .left_nav {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  nav .left_nav {
    width: 40%;
  }
}
nav .left_nav .logo_main {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 150px;
  height: 50px;
}
@media (max-width: 375px) {
  nav .left_nav .logo_main {
    width: 40px;
    height: 40px;
  }
  nav .left_nav .logo_main span {
    font-size: 24px;
    gap: 0px;
  }
}
nav .left_nav .travelers {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  color: #777e90;
}
nav .left_nav .border {
  width: 1px;
  height: 50px;
  background-color: #e6e8ec;
}
nav .left_nav .logo_img {
  width: 36px;
  height: 36px;
}
nav .left_nav .logo_name {
  font-size: 27px;
  font-family: "poppins";
  font-weight: 600;
  line-height: 27px;
  color: #23262f;
}
nav .right_nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .right_nav .tablet {
  width: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .right_nav .tablet p {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  color: #777e90;
}
nav .right_nav .list {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #777e90;
  padding: 10px;
}
nav .right_nav .menu_btn {
  display: none;
}
nav .sidebar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 0px 0 0 50px;
  transition: all 1s ease;
  top: 0px;
  left: -100%;
  width: 300px;
  height: 100vh;
  background-color: #e9f3f7;
}
nav .sidebar div:nth-child(1) p {
  margin-top: 50px;
}
nav .sidebar p {
  font-size: 20px;
  color: black;
  font-family: DM Sans;
  margin-top: 10px;
}
nav #check {
  display: none;
}
nav #check:checked + div {
  left: 0;
}
@media (max-width: 767px) {
  nav .right_nav .tablet {
    display: none;
  }
}
@media (max-width: 375px) {
  nav .left_nav .border {
    display: none;
  }
  nav .left_nav .border + div {
    display: none;
  }
  nav .right_nav .tablet + div {
    display: none;
  }
  nav .right_nav .menu_btn {
    display: block;
  }
}

main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  width: 100%;
  height: 100vh;
  padding: 0 70px;
}
@media (max-width: 767px) {
  main {
    padding: 40px;
  }
}
@media (max-width: 375px) {
  main {
    padding: 15px;
  }
}
main .background {
  width: 100%;
  position: absolute;
  top: 10px;
  padding: 0 70px;
}
@media (max-width: 767px) {
  main .background {
    padding: 0 40px;
  }
}
@media (max-width: 375px) {
  main .background {
    padding: 0 15px;
  }
}
main .background div {
  position: relative;
}
main .background div:nth-child(1) img {
  position: absolute;
  width: 100%;
  height: 100vh;
  margin-top: 0px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
main .background div:nth-child(2) img {
  width: 100%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .title {
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
main .title h1 {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 96px;
  line-height: 96px;
  letter-spacing: -2%;
  text-align: center;
}
@media (max-width: 767px) {
  main .title h1 {
    font-size: 64px;
  }
}
main .title p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -2%;
  text-align: center;
}
@media (max-width: 767px) {
  main .title p {
    font-size: 24px;
  }
}
main .title button {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  color: white;
  background-color: #3b71fe;
  padding: 16px 24px;
  border-radius: 20px;
  border: none;
}
@media (max-width: 767px) {
  main .title button {
    font-size: 16px;
  }
}

.card_scroll {
  margin-top: 200px;
  margin-bottom: 50px;
  padding: 0 0px 0 140px;
}
@media (max-width: 767px) {
  .card_scroll {
    padding: 0 0 0 70px;
  }
}
@media (max-width: 375px) {
  .card_scroll {
    padding: 0 0 0 30px;
  }
}
.card_scroll .descrip h2 {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -2%;
}
@media (max-width: 375px) {
  .card_scroll .descrip h2 {
    font-size: 40px;
  }
}
.card_scroll .descrip p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -1%;
  color: #777e90;
}
@media (max-width: 375px) {
  .card_scroll .descrip p {
    font-size: 16px;
  }
}
.card_scroll .carusel {
  margin-top: 40px;
  display: flex;
  gap: 50px;
  overflow: scroll;
  padding: 0 0 20px;
}
.card_scroll .carusel .card img {
  width: 330px;
  height: 250px;
  border-radius: 15px;
}
@media (max-width: 767px) {
  .card_scroll .carusel .card img {
    width: 260px;
    height: 337px;
  }
}
@media (max-width: 375px) {
  .card_scroll .carusel .card img {
    width: 260px;
    height: 250px;
  }
}
.card_scroll .carusel .card span {
  margin-top: 12px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  display: block;
}
.card_scroll .carusel .card p {
  margin-top: 8px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #777e90;
}

.rent {
  margin-top: 150px;
  padding: 0 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .rent {
    padding: 0 0 0 70px;
  }
}
@media (max-width: 375px) {
  .rent {
    padding: 0 16px;
    flex-direction: column;
  }
}
.rent .left {
  width: 40%;
}
@media (max-width: 375px) {
  .rent .left {
    width: 100%;
  }
}
.rent .left:nth-child(1) p {
  font-family: Poppins;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #777e90;
}
.rent .left h2 {
  margin-top: 16px;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -2%;
  margin-bottom: 30px;
}
@media (max-width: 375px) {
  .rent .left h2 {
    font-size: 40px;
  }
}
.rent .left:nth-child(2) p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #777e90;
}
@media (max-width: 375px) {
  .rent .left:nth-child(2) p {
    font-size: 24px;
  }
}
.rent .left input {
  margin-top: 40px;
  width: 100px;
  height: 45px;
  border-radius: 30px;
  margin-bottom: 100px;
  padding: 0 20px;
  border: 2px solid #777e90;
}
.rent .right {
  width: 40%;
}
@media (max-width: 767px) {
  .rent .right {
    width: 50%;
  }
}
@media (max-width: 375px) {
  .rent .right {
    width: 100%;
  }
}
.rent .right img {
  width: 100%;
}

.explore {
  padding: 0 140px;
}
@media (max-width: 767px) {
  .explore {
    padding: 0 80px;
  }
}
@media (max-width: 375px) {
  .explore {
    padding: 0 30px;
  }
}
.explore h2 {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -2%;
}
@media (max-width: 375px) {
  .explore h2 {
    font-size: 40px;
  }
}
.explore p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -1%;
}
.explore .carusel {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0 0 20px;
}
.explore .carusel .card img {
  width: 330px;
  height: 250px;
  border-radius: 15px;
}
@media (max-width: 767px) {
  .explore .carusel .card img {
    width: 260px;
    height: 337px;
  }
}
@media (max-width: 375px) {
  .explore .carusel .card img {
    width: 260px;
    height: 250px;
  }
}
.explore .carusel .card span {
  margin-top: 12px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  display: block;
}
.explore .carusel .card p {
  margin-top: 8px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #777e90;
}/*# sourceMappingURL=main.css.map */