@import "variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  padding: 10px 160px;
  display: flex;
  justify-content: space-between;
  position: relative;
  @media (max-width: 767px) {
    padding: 10px 70px;
  }
  @media (max-width: 375px) {
    padding: 10px 30px;
  }
  .left_nav {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 767px) {
      width: 40%;
    }
    .logo_main {
      display: flex;
      gap: 20px;
      align-items: center;
      width: 150px;
      height: 50px;
      @media (max-width: 375px) {
        width: 40px;
        height: 40px;
        span {
          font-size: 24px;
          gap: 0px;
        }
      }
    }
    .travelers {
      font-family: DM Sans;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0%;
      text-align: center;
      color: #777e90;
    }
    .border {
      width: 1px;
      height: 50px;
      background-color: #e6e8ec;
    }
    .logo_img {
      width: 36px;
      height: 36px;
    }
    .logo_name {
      font-size: 27px;
      font-family: "poppins";
      font-weight: 600;
      line-height: 27px;
      color: #23262f;
    }
  }
  .right_nav {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .tablet {
      width: 160px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        font-family: DM Sans;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: center;
        color: #777e90;
      }
    }
    .list {
      font-family: DM Sans;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0%;
      text-align: center;
      border-radius: 20px;
      border: 1px solid #777e90;
      padding: 10px;
    }
    .menu_btn {
      display: none;
    }
  }
  .sidebar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 0px 0 0 50px;
    transition: all 1s ease;
    top: 0px;
    left: -100%;
    width: 300px;
    height: 100vh;
    background-color: #e9f3f7;
    div {
      &:nth-child(1) p {
        margin-top: 50px;
      }
    }
    p {
      font-size: 20px;
      color: black;
      font-family: DM Sans;
      margin-top: 10px;
    }
    // display: none;
  }
  #check {
    display: none;
  }
  #check:checked + div {
    left: 0;
  }
  @media (max-width: 767px) {
    .right_nav {
      .tablet {
        display: none;
      }
    }
  }
  @media (max-width: 375px) {
    .left_nav {
      .border {
        display: none;
      }
      .border + div {
        display: none;
      }
    }
    .right_nav {
      .tablet + div {
        display: none;
      }
      .menu_btn {
        display: block;
      }
    }
  }
}

main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  width: 100%;
  height: 100vh;
  padding: 0 70px;
  // background-image: url(../../../assets/imgs/heroimg.png);
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  @media (max-width: 767px) {
    padding: 40px;
  }
  @media (max-width: 375px) {
    padding: 15px;
  }
  .background {
    width: 100%;
    position: absolute;
    top: 10px;
    padding: 0 70px;
    @media (max-width: 767px) {
      padding: 0 40px;
    }
    @media (max-width: 375px) {
      padding: 0 15px;
    }
    div {
      position: relative;
      &:nth-child(1) img {
        position: absolute;
        width: 100%;
        height: 100vh;
        margin-top: 0px;
        object-fit: cover;
        border-radius: 20px;
      }

      &:nth-child(2) img {
        width: 100%;
        height: 700px;
        object-fit: cover;
      }
    }
  }
  .title {
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    // align-items: center;
    justify-content: center;
    gap: 16px;
    h1 {
      font-family: "DM Sans";
      font-weight: 700;
      font-size: 96px;
      line-height: 96px;
      letter-spacing: -2%;
      text-align: center;
      @media (max-width: 767px) {
        font-size: 64px;
      }
    }
    p {
      font-family: Poppins;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -2%;
      text-align: center;
      @media (max-width: 767px) {
        font-size: 24px;
      }
    }
    button {
      font-family: DM Sans;
      font-weight: 700;
      font-size: 16px;
      line-height: 16px;
      letter-spacing: 0%;
      text-align: center;
      color: white;
      background-color: #3b71fe;
      padding: 16px 24px;
      border-radius: 20px;
      border: none;
      @media (max-width: 767px) {
        font-size: 16px;
      }
    }
  }
}
.card_scroll {
  margin-top: 200px;
  margin-bottom: 50px;
  padding: 0 0px 0 140px;
  @media (max-width: 767px) {
    padding: 0 0 0 70px;
  }
  @media (max-width: 375px) {
    padding: 0 0 0 30px;
  }
  .descrip {
    h2 {
      font-family: DM Sans;
      font-weight: 700;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: -2%;
      @media (max-width: 375px) {
        font-size: 40px;
      }
    }
    p {
      font-family: Poppins;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -1%;
      color: #777e90;
      @media (max-width: 375px) {
        font-size: 16px;
      }
    }
  }
  .carusel {
    margin-top: 40px;
    display: flex;
    gap: 50px;
    overflow: scroll;
    padding: 0 0 20px;
    .card {
      img {
        width: 330px;
        height: 250px;
        border-radius: 15px;
        @media (max-width: 767px) {
          width: 260px;
          height: 337px;
        }
        @media (max-width: 375px) {
          width: 260px;
          height: 250px;
        }
      }
      span {
        margin-top: 12px;
        font-family: Poppins;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0%;
        display: block;
      }
      p {
        margin-top: 8px;
        font-family: Poppins;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0%;
        color: $bottom_color;
      }
    }
  }
}
.rent {
  margin-top: 150px;
  padding: 0 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 767px) {
    padding: 0 0 0 70px;
  }
  @media (max-width: 375px) {
    padding: 0 16px;
    flex-direction: column;
  }
  .left {
    width: 40%;
    @media (max-width: 375px) {
      width: 100%;
    }
    &:nth-child(1) p {
      font-family: Poppins;
      font-weight: 700;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0%;
      text-transform: uppercase;
      color: $bottom_color;
    }
    h2 {
      margin-top: 16px;
      font-family: DM Sans;
      font-weight: 700;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: -2%;
      margin-bottom: 30px;
      @media (max-width: 375px) {
        font-size: 40px;
      }
    }
    &:nth-child(2) p {
      font-family: Poppins;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0%;
      color: $bottom_color;
      @media (max-width: 375px) {
        font-size: 24px;
      }
    }
    input {
      margin-top: 40px;
      width: 100px;
      height: 45px;
      border-radius: 30px;
      margin-bottom: 100px;
      padding: 0 20px;
      border: 2px solid $bottom_color;
    }
  }
  .right {
    width: 40%;
    @media (max-width: 767px) {
      width: 50%;
    }
    @media (max-width: 375px) {
      width: 100%;
    }
    img {
      width: 100%;
    }
  }
}
.explore {
  padding: 0 140px;
  @media (max-width: 767px) {
    padding: 0 80px;
  }
  @media (max-width: 375px) {
    padding: 0 30px;
  }
  h2 {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -2%;
    @media (max-width: 375px) {
      font-size: 40px;
    }
  }
  p {
    font-family: Poppins;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1%;
  }
  .carusel {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 0 20px;
    .card {
      img {
        width: 330px;
        height: 250px;
        border-radius: 15px;
        @media (max-width: 767px) {
          width: 260px;
          height: 337px;
        }
        @media (max-width: 375px) {
          width: 260px;
          height: 250px;
        }
      }
      span {
        margin-top: 12px;
        font-family: Poppins;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0%;
        display: block;
      }
      p {
        margin-top: 8px;
        font-family: Poppins;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0%;
        color: $bottom_color;
      }
    }
  }
}
