@import "variables";
@import "placeholder";
@import "mixin";
@import "../pages/navbar";
@import "../pages/main";
@import "../pages/cards";
@import "../pages/rent";
@import "../pages/explore";
@import "../pages/amazing";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
